html {
  scroll-behavior: smooth;
  background-color: #e8e8e8;
}

/* aside */
/* .menu-content {
  position: fixed;
  width: 25%;
  height: 100%;
  top: 0;
  z-index: 80;
  background-color: #efefef;
}

.menu-content ul {
  padding-top: 10px;
}
.menu-content ul li {
  border-bottom: solid 1px #444444;
  list-style: none;
  line-height: 33px;
  padding-top: 5px;
  padding-left: 10px;
}

.menu-content ul li:hover {
  background-color: #d6d6d6;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  color: #444444;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 2px #444444;
  border-right: solid 2px #444444;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 21px;
}

.menu-content img{
  width:50%;
  height:50%;
  padding-left:10px;
  padding-bottom:10px;
} */

.menu-content ul {
  padding-top: 70px;
}
.menu-content ul li {
  border-bottom: solid 1px #444444;
  list-style: none;
  line-height: 33px;
  padding-top: 5px;
  padding-left: 10px;
}

.menu-content ul li:hover {
  background-color: #d6d6d6;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  color: #444444;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 2px #444444;
  border-right: solid 2px #444444;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 21px;
}

.menu-content {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%; /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #efefef;
  transition: all 0.5s; /*アニメーション設定*/
}

.gray-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

#menu-btn-check:checked ~ .menu-content {
  left: 80%; /*メニューを画面内へ*/
}

#menu-btn-check:checked ~ .menu-content ~ .gray-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  transition: background-color 0.5s;
}

.menu-btn {
  position: fixed;
  top: 5px;
  right: 0px;
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  transition: 0.5s all;
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
  background-color: #444444;
  transition: 0.5s all;
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: #444444;
  transition: 0.5s all;
}

#menu-btn-check:not(checked) ~ .menu-btn span {
  background-color: white;
  transition: 0.5s all;
}
#menu-btn-check:not(checked) ~ .menu-btn span::before {
  bottom: 8px;
  background-color: white;
  transition: 0.5s all;
}
#menu-btn-check:not(checked) ~ .menu-btn span::after {
  top: 8px;
  background-color: white;
  transition: 0.5s all;
}

#menu-btn-check {
  display: none;
}

/* content */

.content {
  width: 80%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}

/* header */
header {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(17, 35, 90);
  color: white;
  position: fixed;
  top: 0;
  z-index: 50;
}

/* footer */
footer {
  width: 100%;
  height: 50px;
  padding: 15px 0 0 10px;
  background-color: rgb(89, 111, 183);
  font-size: 1rem;
  color: white;
}
