body {
  font-size: 20px;
  color: #444444;
}

/* pagetop */

.pagetop {
  position: relative;
  width: 100%;
  height: 95vh;
}

/* .bigimg {
}

.pagetop h1 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  font-size: 4rem;
  font-family: "Archivo Black", sans-serif;
  color: black;
  font-weight: bolder;
  text-align: center;
} */

/* about us */
.aboutus {
  margin-top: 200px;
  padding: 100px 0;
  background-image: linear-gradient(rgb(155, 158, 207), rgb(90, 200, 227));
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

.aboutus h1 {
  padding-top: 50px;
  text-align: center;
  font-size: 3rem;
}

.aboutus p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  padding: 30px 70px 0;
  margin-bottom: 50px;
}

/* location */
.location {
  width: 100%;
  padding: 100px 0;
  text-align: center;
  font-size: 3rem;
}

.location h1 {
  padding-bottom: 150px;
}

@media screen and (max-width: 800px) {
  .pagetop h1 {
    font-size: 3rem;
    left: 50%;
  }
}
