body{
    background:lightgray;

}

h1{
    background:aquamarine;
    color:lightcoral;
    text-align:center;
    
}

h3.hobby{
    background-color:maroon;
    height:auto;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3{
    text-align:center;
}

a:link{
    color:#ff0000;
    text-decoration:none;
}

a:visited{
    color:#345678;
    text-decoration:none;
}

a:hover{
    color:#dd4909;
    text-decoration:underline;
}

p.line{
    border-width:5px;
    border-style:double;
    border-color:palevioletred;
}

blockquote{
    border:solid 2px;
    background-color:lightskyblue;
    width:400px;
    margin-top:20px;
    margin-left:30px;
    padding:15px;
}

dl{
    width:500px;
    border:solid 5px;
}

dt{
    font-size: 1.5em;
    font-weight:bold;
    margin:10px;
}

dd{
    font-size:1.2em;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
}

dd.red{
    color:red;
}

dd.green{
    color:green;
}

dd.pink{
    color:palevioletred;
}